<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infopagina</title>
</head>
<body>
    <h1>Welkom op de info pagina</h1>
    <header>
        <nav>
            <ul>
                <li><a href="index.ejs">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Info</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Main content</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus praesentium, odio aliquam consequatur pariatur explicabo, dolor sapiente cumque et officiis ipsum magnam, earum provident assumenda molestias harum delectus atque numquam?
        Rem quisquam suscipit temporibus. Quasi laborum modi similique debitis vitae vero adipisci obcaecati, expedita voluptates, deleniti, quod aut! Distinctio iure temporibus vitae illo voluptas unde architecto dolor earum iusto aperiam!
        Consectetur, molestiae cupiditate nam voluptatibus, est voluptatem officia a rerum dolores beatae eius quam? Repellendus, aspernatur rerum culpa libero molestiae voluptates eius error earum vel sequi. Provident libero quidem tempore?
        Facere quos repellat, atque optio suscipit necessitatibus dolores quaerat accusantium quibusdam libero ipsum, repellendus ea pariatur nemo minus. Magnam molestiae rem vel commodi deserunt unde, similique quasi veniam aspernatur qui.
        Itaque quaerat libero repudiandae, magni iste dolorum, tenetur possimus eveniet ipsum blanditiis quos consequatur exercitationem iusto obcaecati deleniti asperiores ratione eos velit aut sequi ex a iure fugiat totam? Dicta.
        Provident minima laborum, minus dolorum fugiat animi illo sequi nesciunt, quod necessitatibus officiis ducimus! Sapiente eos facilis ad voluptates odio, fuga ipsa ea unde beatae necessitatibus, assumenda, reiciendis perspiciatis quas.
        Inventore dolorem quaerat odit molestias debitis sunt corporis adipisci tempore praesentium vel dolor voluptates, illum maiores, eos distinctio eum. Consequuntur architecto quo ipsum inventore repudiandae iure dolorum cupiditate hic laborum.
        Aliquam accusamus ipsa, earum in libero, sed cupiditate dignissimos, animi inventore quos veritatis molestias hic maiores a dolore ea! Quam voluptatem blanditiis minus dolores cumque temporibus impedit, nihil at iure!
        Velit animi excepturi laudantium suscipit fugiat. Natus delectus amet, sapiente magni voluptates commodi explicabo maiores perferendis mollitia, voluptas debitis vero ut quod iste, eum dignissimos laudantium. Cumque quidem suscipit est.
        Repellat itaque id non ipsa? Corporis est nam ducimus sint! Optio molestiae velit sit fugit tenetur, quos quam dolorem amet ipsum, molestias delectus ex ad cumque laudantium beatae animi corporis.
    </main>
    <aside>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem saepe nulla alias, voluptates corporis corrupti libero molestiae ipsa nemo impedit quis sunt sapiente harum illum, officiis reprehenderit sint in repellendus!
    Molestiae aperiam nulla labore, blanditiis delectus quasi voluptate praesentium incidunt doloremque nobis sit possimus accusamus id sint quibusdam quia quos ad, ipsa iure quam deleniti odit? Sint consectetur rerum iste.
    Sunt voluptas non incidunt distinctio repudiandae maiores voluptatibus consequuntur commodi qui atque vitae, illum, delectus reiciendis optio voluptatem, blanditiis velit quidem est minima. Quia sequi cupiditate, eveniet provident odit quidem.
    Officia alias eum sed at incidunt nobis ut quia, cupiditate accusantium delectus totam perspiciatis cum ratione aliquid maiores debitis porro hic non error! Consectetur possimus, eius soluta sed animi minus.
    Est, nobis sunt nisi facere architecto delectus maxime perferendis? Nam consequuntur id fugit. Praesentium ipsa sed eaque voluptas nihil voluptatibus. Ipsa, numquam exercitationem debitis mollitia porro accusamus aspernatur enim doloribus.</aside>
    <footer>
        Follow us on social media
    </footer>
</body>
</html>